<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h2><b>グループチャットへようこそ</b></h2>
      <p>グループを作成して、グループ単位でチャットを行うことができます。</p>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>
