// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-groups {
  margin-top: 20px;
}

.send-button-div {
  margin-left: -15px;
}

.timeline-body .header {
  color: #9d9d9d;
}

.timeline-body .body {
  word-break: break-all;
}
